<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <display-name>Archetype Created Web Application</display-name>

    <!--全局参数-->
    <context-param>
        <param-name>contextParamA</param-name>
        <param-value>123</param-value>
    </context-param>

    <!--过滤器-->
    <filter>
        <filter-name>encodeFilter</filter-name>
        <filter-class>com.love.webPac.EncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <!-- 过滤器映射-->
    <filter-mapping>
        <filter-name>encodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


    <!--Servlet-->
    <servlet>
        <servlet-name>orderServlet</servlet-name>
        <servlet-class>com.love.webPac.OrderServlet</servlet-class>
        <init-param>
            <param-name>123</param-name>
            <param-value>11</param-value>
        </init-param>
    </servlet>

    <!--Servlet映射-->
    <servlet-mapping>
        <servlet-name>orderServlet</servlet-name>
        <url-pattern>/s4order</url-pattern>
    </servlet-mapping>


    <!--欢迎文件-->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>backup.html</welcome-file>
        <welcome-file>1.jpg</welcome-file>
    </welcome-file-list>
</web-app>